a{
    color: violet;
  }
  p {
    color: violet;
  }
  h4 {
    color: violet;
  }
  label {
    color: violet;
  }
b {
  color: violet;
}
/* .label {
  margin: 0px
}
.input-box {
  margin-left: 0px
} */