.row {
    margin: 0%;
  }
  .playArea {
    display: flex;
    justify-content: center;
  }
  .playCard {
    width: 20%;
    padding: 10px;
  }
  .handArea {
    display: flex;
    justify-content: center;
    margin-top: 300px
  }
  
  .handCard {
    width: 20%;
    height: 120%;
    padding: 10px;
    transform: scale(1.0);
  }
  