* {
  text-shadow: 2px 2px #52c0da;
  font-family: "Press Start 2P", cursive;
}

.btn {
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.loginBtn {
  font-family: "Press Start 2P", cursive;
  margin-top: 2%;
  float: right;
}
.inputS{
color:white
}
.nes-input {
  font-family: "Press Start 2P", cursive;
  margin: 2%;
  background-clip: border-box;
}
.neon1 {
  font-size: 1.5em;
  color: black !important ;
  background-color: #b6379e;
  text-shadow: 2px 2px #52c0da;
}
.nes-btn::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px #52c0da;
}

button:hover {
  box-shadow: inset -4px -4px #52c0da !important;
}
.neon1:hover {
  background-color: #8c2a7a;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 70%;
  z-index: 1;
  color: #ffffff;
  text-transform: uppercase;
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.home-inner {
  background-image: url(./neoncity.gif) !important ;
}
.landing3 {
  position: relative;
  width: 100%;
  display: table;
  z-index: -1;
}
.home-inner3 {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  background-image: url(../auth/evil.gif) !important ;
}

/* .grow { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(1.1); } */
